p {
  font-family: rubik, Arial, Helvetica, sans-serif;
}
@media (min-width: 768px) {
  p {
    font-size: 24px;
  }
}
@media (max-width:767px){
  li li {
    margin-right: 10px;
  }
  li li li {
    margin-right: 10px;
  }
}
.bcg-cont {
  background-color: var(--back);
  margin-bottom: 20px;
}
@media (max-width: 520px) {
  .accordion {
    font-size: 15px;
  }
}
@media (max-width: 387px) {
  .accordion {
    font-size: 13px;
    padding: 7px;
  }
}
@media (max-width: 350px) {
  .tabset > label {
    width: 110px;
    font-size: 11px;
  }
}
.red {
  color: var(--red);
  font-family: cairo, Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.t-1 span {
  background-color: var(--num1);
}
.t-1 .bred {
  background-color: var(--red);
}
.t-1 .bgre {
  background-color: green;
}
.t-1 .bgre,.t-1 .bred,.t-1 span {
  color: var(--white);
  padding: 5px;
  border-radius: 10px;
}
.t-1 .tb1 {
  background-color: #a5cff3;
  color: var(--dark);
}
.calen {
  width: 100%;
  border-radius: 30px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), -3px -3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), -3px -3px 5px rgba(0, 0, 0, 0.2);
}
figure {
  width: 75%;
  margin: 15px auto;
}
figcaption {
  text-align: center;
  font-family: cairo, Arial, Helvetica, sans-serif;
  color: var(--red);
  margin-bottom: 10px;
  font-weight: bold;
}
.red-2 {
  background-color: rgba(253, 224, 224, 0.7);
  border-right: 10px solid var(--red);
  padding-left: 10px;
}
.bcgr tr:hover {
  background-color: transparent;
}
.plan-c1 {
  background-color: #2195f336;
}
.plan-c2 {
  background-color: #ef930a25;
}
.plan-c3 {
  background-color: #ccdc394b;
}
.plan-c4 {
  background-color: #0fd12634;
}