main {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  grid-template-rows: 50px 1fr 1fr 1fr;
}
.end {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.original-box-shadow {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  background-color: rgb(233, 233, 252);
  font-size: 30px;
  width: fit-content;
  margin: 0 auto;
  padding: 0 15px;
  border-radius: 10px;
  box-shadow: -5px -5px 10px 5px rgba(6, 53, 138, 0.8), 5px 5px 15px 7px rgba(0, 90, 255, 0.8);
}
.sec-mov {
  padding-bottom: 0px;
  margin: 15px auto;
}